main.email-wrapper
	table(border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0")
		tbody
			tr
				td(style="background-color:#fff")
				td(width='1170px', style="padding: 0; font-size: 0")
					img(src="img/top_bg.jpg", alt="")
				td(style="background-color:#f43d00")
	table(border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0")
		tbody
			tr
				td(style="background-color:#f43d00")
				td(width='1170px', style="padding: 0; font-size: 0")
					img(src="img/serv.jpg", alt="")
				td(style="background-color:#f43d00")
	table(border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0")
		tbody
			tr
				td
				td(style="padding: 0; background-image: url(img/main_bg.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;")
					table
						tr
							td
							td(width='700px' style="padding: 0 15px;")
								.intro-wrap
									h1.title
										| Здравствуйте!
									.sub-title
										p.
											Мы знаем, насколько важна для Вас безопасность. Контролировать порядок на объекте с любой точки планеты теперь проще простого. Установите на территории комплексную систему наблюдения и предотвратите ограбления!
										p.
											Мы сами настроим удаленный доступ по Wi-Fi и обучим Вас пользоваться оборудованием. За счет незаметного монтажа внешний вид интерьера и экстерьера останется прежним. 
										p.
											В готовые наборы входят все комплектующие, необходимые для объектов разных типов — от частных домовладений до гостиниц и домов отдыха.
										p.
											Все системы представлены в двух вариантах — цифровые и аналоговые решения.
							td(width='470px')
							td
				td
	table(border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0;")
		tbody
			tr
				td
				td(style="padding: 0; background-image: url(img/camera.png); background-position: center; background-repeat: no-repeat; background-size: cover;")
					table
						tr
							td
							td(width='1170px'  style="padding: 0 15px;")
								p.camera-txt
									| Выберите систему до 
									span.bold 20 апреля <br>
									|  и получите скидку 
									span.bold 15%!
							//- td(width='470px')
							td