main.email-wrapper
	table(border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0")
		tbody
			tr
				td(style="background-color:#fff")
				td(width='1170px', style="padding: 0; font-size: 0")
					img(src="img/top_bg.jpg", alt="")
				td(style="background-color:#f43d00")
	table(border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0")
		tbody
			tr
				td(style="background-color:#f43d00")
				td(width='1170px', style="padding: 0; font-size: 0")
					img(src="img/serv.jpg", alt="")
				td(style="background-color:#f43d00")
	table(border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0")
		tbody
			tr
				td
				td(style="padding: 0; background-image: url(img/main_bg.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;")
					table
						tr
							td
							td(width='700px' style="padding: 0 15px;")
								.intro-wrap
									h1.title
										| Здравствуйте!
									.sub-title
										p.
											Мы знаем, насколько важна для Вас безопасность. Контролировать порядок на объекте с любой точки планеты теперь проще простого. Установите на территории комплексную систему наблюдения и предотвратите ограбления!
										p.
											Мы сами настроим удаленный доступ по Wi-Fi и обучим Вас пользоваться оборудованием. За счет незаметного монтажа внешний вид интерьера и экстерьера останется прежним.
										p.
											В готовые наборы входят все комплектующие, необходимые для объектов разных типов — от частных домовладений до гостиниц и домов отдыха.
										p.
											Все системы представлены в двух вариантах — цифровые и аналоговые решения.
							td(width='470px')
							td
				td
	table(border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0;")
		tbody
			tr
				td
				td(background='img/camera.png' style="padding: 0;  background-position: center; background-repeat: no-repeat; background-size: cover;")
					table
						tr
							td
							td(width='1170px'  style="padding: 0 15px;")
								p.camera-txt
									| Выберите систему до
									span.bold 20 апреля <br>
									|  и получите скидку
									span.bold 15%!
							//- td(width='470px')
							td
	table(border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0")
		tbody
			tr(bgcolor="#fff")
				td
				td(width='1170px', style="padding: 75px 0 90px;")
					table(cellpadding=15 style='margin: 0 0 35px')
						tbody
							tr
								td(width='33%')
									a(href='#' target='_blank')
										img(src='img/card-1.jpg' align='center' alt="Для дома" title="Для дома")
								td(width='33%')
									a(href='#' target='_blank')
										img(src='img/card-2.jpg' align='center' alt="Для квартиры" title="Для квартиры")
								td(width='33%')
									a(href='#' target='_blank')
										img(src='img/card-3.jpg' align='center' alt="Для офиса" title="Для офиса")
							tr
								td(width='33%')
									a(href='#' target='_blank')
										img(src='img/card-4.jpg' align='center' alt="Для торгового помещения" title="Для торгового помещения")
								td(width='33%')
									a(href='#' target='_blank')
										img(src='img/card-5.jpg' align='center' alt="Для подьезда" title="Для подьезда")
								td(width='33%')
									a(href='#' target='_blank')
										img(src='img/card-6.jpg' align='center' alt="Для парковки" title="Для парковки")
					table(cellpadding=0 cellspacing=0 border=0)
						tbody
							tr
								td
								td(width='200')
									a(href='#' target='_blank' style='color:#ff7547; font-size: 14px')
										table(border='1' bordercolor='#ff7547' align='center' cellpadding='15' cellspacing='0' )
											tbody
												tr
													td(valign='center' height='50' align='center')
														span УЗНАТЬ БОЛЬШЕ
								td

				td
	table(border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0" background='img/bg-cats.jpg')
		tbody
			tr
				td
				td(width='1170px' style="padding: 70px 0 85px;")
					table(style='margin: 0 0 50px')
						tr
							td(style="padding: 0 80px 0;" )
								p(align='center' style='font-size: 24px; color:#fff') За 5 лет мы установили около 5 тыс. камер наблюдения. Все клиенты довольны нашей работой, и причин тому несколько:
					table(border="0" cellpadding="15" cellspacing="0" style='font-weight:300; font-size: 16px; color: #fff')
						tr(align='center')
							td(style='padding: 0 0 15px' width='25%')
								img(src='img/wrench.png' alt='wrench' title="wrench")
							td(style='padding: 0 0 15px' width='25%')
								img(src='img/cctv.png' alt='cctv' title="cctv")
							td(style='padding: 0 0 15px' width='25%')
								img(src='img/house.png' alt='house' title="house")
							td(style='padding: 0 0 15px' width='25%')
								img(src='img/smartphone.png' alt='smartphone' title="smartphone")
						tr(align='center' valign='top')
							td
								| Предоставляем полный комплекс услуг по установке систем видеонаблюдения — от монтажа до постгарантийного сервисного обслуживания.
							td
								| Разработали готовые решения для разных типов объектов в цифровом и аналоговом вариантах.
							td
								| Сохраняем безупречный внешний вид объекта за счет минимального количества проводов и незаметного монтажа.
							td
								| Предлагаем оптимальное решение для активных деловых людей — удаленный просмотр с мобильного устройства.
				td
	table(border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; color: #fff;font-weight:300;" bgcolor='#ff7547')
		tbody
			tr
				td
				td(width='1170px' style="padding: 0 15px 66px;")
					table(border="0" cellpadding="0" cellspacing="0")
						tbody
							tr
								td(width='750')
									table
										tbody
											tr
												td(style='font-weight:600; font-size: 24px; color: #424242; padding: 0 0 10px')
													| У Вас уже установлено видеонаблюдения, которое требует улучшения или ремонта?
											tr
												td(style='font-size: 18px; padding: 0 0 30px; line-height: 24px')
													| Свяжитесь с нами и выберите оборудование для расширения функционала существующей системы или получите индивидуальное решение для Вашего объекта.
									table(cellpadding=0 cellspacing=0 border=0 style='margin: 0 0 40px')
										tbody
											tr
												td(width='260')
													a(href='#' target='_blank' style='color:#fff; font-size: 14px')
														table(border='1' bordercolor='#fff' align='center' cellpadding='15' cellspacing='0' )
															tbody
																tr
																	td(valign='center' height='50' align='center')
																		span ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
												td
									p(style='font-size: 14px') Выезд на объект для оценки проекта бесплатный!
								td
									img(src='img/camera2.png' alt='camera2' title="camera2")
				td
	table(border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0" bgcolor='#fff')
		tbody
			tr
				td
				td(width='1170px' style="padding: 44px 0;")
					p(align='center' style='font-size: 18px;')
						img(src='img/call.png')
						span(style='font-weight:300') Многоканальный номер:
						a(href='tel:88005504460' style='font-weight: 18px;font-weight:600') 8-800-550-44-60
				td